[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru.git
[submodule "flat-remix"]
	path = flat-remix
	url = https://aur.archlinux.org/flat-remix.git
[submodule "flat-remix-gnome"]
	path = flat-remix-gnome
	url = https://aur.archlinux.org/flat-remix-gnome.git
[submodule "flat-remix-gtk"]
	path = flat-remix-gtk
	url = https://aur.archlinux.org/flat-remix-gtk.git
[submodule "nerd-fonts-complete"]
	path = nerd-fonts-complete
	url = https://aur.archlinux.org/nerd-fonts-complete.git
[submodule "nerd-fonts-jetbrains-mono"]
	path = nerd-fonts-jetbrains-mono
	url = https://aur.archlinux.org/nerd-fonts-jetbrains-mono.git
[submodule "ruby-clocale"]
	path = ruby-clocale
	url = https://aur.archlinux.org/ruby-clocale
[submodule "ruby-colorls"]
	path = ruby-colorls
	url = https://aur.archlinux.org/ruby-colorls
[submodule "ruby-filesize"]
	path = ruby-filesize
	url = https://aur.archlinux.org/ruby-filesize/
[submodule "ruby-unicode-display_width"]
	path = ruby-unicode-display_width
	url = https://aur.archlinux.org/ruby-unicode-display_width/
